.barraNavegacionPrincipal {
    background-color: #E61212;
    margin-bottom: 50px;
}

.nombrePrincipal {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.itemNavegacion {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}